
h1 {
    font-family: 'Montserrat';
    font-size: 48px;
    color: #1a1a6d;
}

h2 {
    font-family: 'Montserrat';
    font-size: 36px;
    color: #1a1a6d;
    margin-bottom: 20px;
}

.form-group label {
    font-family: 'Montserrat';
    font-size: 18px;
    color: #1a1a6d;
    margin-bottom: 8px;
    display: block;
}

.form-control {
    font-family: 'Montserrat';
    font-size: 18px;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
    border: 1px solid #d9d9e8;
    background-color: #f8f8fc;
}

textarea.form-control {
    resize: vertical;
    height: 150px;
}

.task-button {
    font-family: 'Montserrat';
    font-size: 22px;
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background-color: #d9d9e8;
    border: none;
    text-align: left;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    align-content: center;
}

.task-button:hover {
    background-color: #1a1a6d;
    color: white;
}

.go-to-projects {
    font-family: 'Montserrat';
    font-size: 17px;
    display: block;
    width: fit-content;
    background-color: #1a1a6d;
    color: white;
    padding: 15px 35px;
    margin-top: 20px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
}

.go-to-projects:hover {
    background-color: #1F1FFF;
}

.mt-3 {
    margin-top: 15px;
}
