.welcome[b-49n0c0sgbj] {
    font-family: 'Montserrat';font-size: 40px;

    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: -10px;
}
.proj[b-49n0c0sgbj]{
    font-family: 'Montserrat';
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    color: #1a1a6d;
    text-decoration: none;
}
.card[b-49n0c0sgbj] {
    
    text-align: center;
    background-color: #d9d9e8;
    border-radius: 20px;
    opacity: 80%
}

.card:hover[b-49n0c0sgbj]{
    opacity: 1;
}

label[b-49n0c0sgbj] {
    color: #1a1a6d;
    font-weight: bold;
    font-family: 'Montserrat';
    font-size: 25px;
}

.container[b-49n0c0sgbj] {
    display: inline-block;
    width: 49%;
    horiz-align: left;
    vertical-align: middle;
    padding-bottom: 20px;
    padding-top: 20px;
}
.dash[b-49n0c0sgbj]{
    border-top: 3px dashed #000;
    
}
.createBtn[b-49n0c0sgbj]{
    display: inline-block;
    color: #fff;
    padding: 10px 35px;
    border-radius: 20px;
    text-decoration: none;

    font-family: 'Montserrat';
    font-size: 17px;
    background-color: #1a1a6d;
    color: white;    
}
.createBtn:hover[b-49n0c0sgbj]{
    background-color: #1F1FFF;
}

.profile-photo[b-49n0c0sgbj]{
    width: 10%;
}