.members[b-k0fhz45db1] {
    text-align: center;
    color: #1427a5;
}
.addMembers[b-k0fhz45db1] {
    text-align: center;
    color: #1427a5;
}
table[b-k0fhz45db1] {
    font-family: Arial, sans-serif;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    margin: 0 auto; 
    width: 50%;      
}

button[b-k0fhz45db1] {
    display: block; 
    margin: 0 auto;  
}
.teamMemberTable[b-k0fhz45db1] {
    font-family: Arial, sans-serif;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    margin: 0 auto;
    width: 50%;
}
