body {
    font-family: 'Montserrat';font-size: 22px;
    margin: 0;
    padding: 20px;
    background-color: #f8f8fc;
}
.container {
    display: flex;
    max-width: 1090px;
    margin: auto;
    gap: 90px;
    align-items: flex-start; /* Ensures both columns align at the same vertical level */
}
.left-column, .right-column {
    flex: 1;
    justify-content: center;
    align-items: left;
}
h1 {
    font-family: 'Montserrat';font-size: 48px;
    color: #1a1a6d;
}
.task-button {
    font-family: 'Montserrat';font-size: 22px;
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background-color: #d9d9e8;
    border: none;
    text-align: left;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
}
.task-button .due-date {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}
.task-button .description {
    font-size: 14px;
    color: #555;
}
.add-project {
    font-family: 'Montserrat';font-size: 22px;
    display: flex;
    align-items: center;
    color: #1a1a6d;
    font-weight: bold;
}
.add-project span {
    font-family: 'Montserrat';font-size: 22px;
    margin-left: 10px;
}
.go-to-projects {
    font-family: 'Montserrat';font-size: 17px;
    display: block;
    width: fit-content;
    background-color: #1a1a6d;
    color: white;
    padding: 15px 35px;
    margin-top: 20px;
    border-radius: 20px;
    text-decoration: none;
}
.date-time {
    padding-top: 40px;
    font-family: 'Montserrat';font-size: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #1a1a6d;
    margin-bottom: 32px;
    text-align: right;
}
.date-time .date {
    /*display: block;*/
    font-size: 20px; /* Larger date text */
}

.date-time .time {
    /*display: block;*/
    font-size: 20px; /* Larger time text */
}
.tasks {
    font-family: 'Montserrat';font-size: 22px;
    background-color: #d9d9e8;
    padding: 15px;
    border-radius: 10px;
}
.task-item {
    font-family: 'Montserrat';font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.task-item input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: #1a1a6d;
}

