.welcome[b-7gy038kou5] {
    text-align: center;
    padding-top: 50px;
}
.slogan[b-7gy038kou5]{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 25px;
}
.card[b-7gy038kou5]{
    box-sizing: border-box;
    border-radius: 30px;
}
.col-md-4[b-7gy038kou5]{
    background-color: #d9d9e8;
    padding-bottom: 100px;
}

.form-label[b-7gy038kou5]{
    
}