.welcome[b-jvxuxn8277] {
    text-align: center;
    padding-top: 50px;
}
.slogan[b-jvxuxn8277]{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 25px;
}
.card[b-jvxuxn8277]{
    box-sizing: border-box;
    border-radius: 30px;
}
.col-md-4[b-jvxuxn8277]{
    padding-bottom: 100px;
}