/* _content/dotnetTest/Views/Account/Login.cshtml.rz.scp.css */
.welcome[b-jvxuxn8277] {
    text-align: center;
    padding-top: 50px;
}
.slogan[b-jvxuxn8277]{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 25px;
}
.card[b-jvxuxn8277]{
    box-sizing: border-box;
    border-radius: 30px;
}
.col-md-4[b-jvxuxn8277]{
    padding-bottom: 100px;
}
/* _content/dotnetTest/Views/Home/Index.cshtml.rz.scp.css */
body[b-8xpjk1oclx] {
    font-family: 'Montserrat';
    font-size: 22px;
    margin: 0;
    padding: 20px;
    background-color: #f8f8fc;
}
.container[b-8xpjk1oclx] {
    display: flex;
    max-width: 1090px;
    margin: auto;
    gap: 90px;
    align-items: flex-start; /* Ensures both columns align at the same vertical level */
}
.left-column[b-8xpjk1oclx], .right-column[b-8xpjk1oclx] {
    flex: 1;
    justify-content: center;
    /*align-items: left;*/
}
h1[b-8xpjk1oclx] {
    font-family: 'Montserrat';font-size: 48px;
    color: #1a1a6d;
}
.task-button[b-8xpjk1oclx] {
    font-family: 'Montserrat';font-size: 22px;
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background-color: #d9d9e8;
    border: none;
    text-align: left;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
}
.task-button .due-date[b-8xpjk1oclx] {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}
.task-button .description[b-8xpjk1oclx] {
    font-size: 14px;
    color: #555;
}
.add-project[b-8xpjk1oclx] {
    font-family: 'Montserrat';font-size: 22px;
    display: flex;
    align-items: center;
    color: #1a1a6d;
    font-weight: bold;
}
.add-project span[b-8xpjk1oclx] {
    font-family: 'Montserrat';font-size: 22px;
    margin-left: 10px;
}
.go-to-projects[b-8xpjk1oclx] {
    font-family: 'Montserrat';font-size: 17px;
    display: block;
    width: fit-content;
    background-color: #1a1a6d;
    color: white;
    padding: 15px 35px;
    margin-top: 20px;
    border-radius: 20px;
    text-decoration: none;
}
.date-time[b-8xpjk1oclx] {
    padding-top: 40px;
    font-family: 'Montserrat';font-size: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #1a1a6d;
    margin-bottom: 32px;
    text-align: right;
}
.date-time .date[b-8xpjk1oclx] {
    /*display: block;*/
    font-size: 20px; /* Larger date text */
}

.date-time .time[b-8xpjk1oclx] {
    /*display: block;*/
    font-size: 20px; /* Larger time text */
}
.tasks[b-8xpjk1oclx] {
    font-family: 'Montserrat';font-size: 22px;
    background-color: #d9d9e8;
    padding: 15px;
    border-radius: 10px;
}
.task-item[b-8xpjk1oclx] {
    font-family: 'Montserrat';font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.task-item input[type="checkbox"][b-8xpjk1oclx] {
    width: 20px;
    height: 20px;
    accent-color: #1a1a6d;
}
/* _content/dotnetTest/Views/Project/Index.cshtml.rz.scp.css */
.Head[b-ijao27r5lb]{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.card[b-ijao27r5lb]{
    text-align: center;
    background-color: #d8d8ff;
    border-radius: 20px;
    border: 5px solid #1a237e;
    opacity: 75%
}
.card:hover[b-ijao27r5lb]{
    opacity: 1;
}
label[b-ijao27r5lb]{
    font-size: 20px;
    font-weight: bold;
}
.container[b-ijao27r5lb]{
    display: inline-block;
    width: 49%;
    horiz-align: left;
    vertical-align: middle;
    padding-bottom: 10px;
    padding-top: 10px;
}
/* _content/dotnetTest/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-b2bfp0507x] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
/*
.navbar{
  background-color: #1E1B75;
}
*/
 
.navbar-dark.bg-primary[b-b2bfp0507x] {
  background-color: #1E1B75 !important; /* Deep Blue */
}

a[b-b2bfp0507x] {
  color: #0077cc;
}

.btn-primary[b-b2bfp0507x] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-b2bfp0507x], .nav-pills .show > .nav-link[b-b2bfp0507x] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-b2bfp0507x] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-b2bfp0507x] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-b2bfp0507x] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-b2bfp0507x] {
  font-size: 1rem;
  line-height: inherit;
}

.container-fluid[b-b2bfp0507x]{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer[b-b2bfp0507x] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.flex-grow-1[b-b2bfp0507x]{
  align-items: center;
  justify-content: center;
  margin-left: 6rem;
}
